
body.index{
	background-image: url("bestSideIndex.JPG");
	background-repeat: no-repeat;
	background-size: cover;
}

body{
	font-size: 30px;
  	font-family: courier, sans-serif;
	color: white;
	padding: 10px;
	background-image: url("daria EFG.JPG"), linear-gradient(rgb(210, 210, 210, 1), rgb(210, 210, 210, 0));;
	background-repeat: no-repeat;
	background-size: cover;
}



.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 30px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 200px;
  z-index: 10000;
  right: 0px;
  font-size: 30px;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  	background-color: white;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}



*{
	margin: 0px;
	padding: 0px;
 	box-sizing: border-box;
}

.navbar .logo a{
  	float: left;
	font-size: 40px;
	text-decoration: none;
	color: white;
  
}


div.insta {
	position: fixed;
  	top: 7px;
	right: 400px;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  padding: 0px 60px;
  background-color: black;
  z-index: 9999;
}






input[type=text], select, textarea{
	font-family: inherit;
	border-radius: 4px;
  	width: 100%;
  	margin-top: 6px;
  	margin-bottom: 16px;
	padding: 12px; 
	resize: none;
	font-size: 30px;
}

input[type=submit] {
	font-family: inherit;
	background-color: grey;
  	color: white;
  	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
	font-size: 30px;
}

.container {
 	display: grid;
  	grid-template-areas:
   		"row1"
    		"row2"
	row-gap: 0px;


.row1 {
	position: relative;
	width: 100%;
	top: 100px;

}


.row1 img{
	display: none;
	height: 700px;
	padding: 40px 40px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}



.row2 {
	color: white;
	width: 100%;
	position: relative;
	padding: 100px 100px;
}


.vidBox{
	display: grid;
	column-gap: 30px;
	justify-content: center;
}

.footer {
   	position: fixed;
  	bottom: 0;
  	left: 0;
  	width: 100%;
   	background-color: black;
  	color: white;
   	text-align: right;
	padding: 25px 40px;
	margin: 0;
}

a{
	text-decoration: none;
}


